.main-footer {
    color: white;
    background-color: teal;
    padding-top: 3em;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .main-header{
    color: white;
    background-color: teal;
    
 /* background-blend-mode: lighten; */
    position: relative;
    width: 100%;
  } 
  .navbar-brand{
    color: white   !important;
    }
  .nav-link{
    color: whitesmoke !important;
  }
 
 